<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HugoCorporateActionsLib.Properties.Settings.HugoConnectionString"
            connectionString="Data Source=garsql11\development;Initial Catalog=Hugo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HugoCorporateActionsLib.Properties.Settings.HugoConnectionString1"
            connectionString="Data Source=GARSQL11;Initial Catalog=Hugo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>